services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: neurona_db
    ports:
      - "5555:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  backend:
    build:
      context: ./Server/NeuronaTask.Server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=neurona_db;Username=admin;Password=password
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_GRAPHQL_URI: http://backend:8080/graphql
    ports:
      - "3000:3000"
    environment:
      - GRAPHQL_URI=http://backend:8080/graphql
    depends_on:
      - backend

volumes:
  postgres_data: