name: .NET CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Restore dependencies
        run: dotnet restore Server/NeuronaTask.sln

      - name: Format
        run: dotnet format Server/NeuronaTask.sln --verify-no-changes --severity warn

      - name: Build
        run: dotnet build Server/NeuronaTask.sln --no-restore

      - name: Test
        run: dotnet test Server/NeuronaTask.sln --no-build --verbosity normal